<div class="book-form">
  <div class="book-form-title">
    <h1>MyGradebook</h1><br>
    <%= image_tag('open-book2.png', width: "100px") %>
  </div>
  <br>
  <div class="book-form-login">
    <%= form_for(@session, :url => {controller: 'sessions', action: 'create', method: 'post'}) do |f| %>
      <div class="radio-buttons">
        <%= f.radio_button(:type, "teacher", checked: true) %>
        Teacher
        <%= f.radio_button(:type, "student") %>
        Student
      </div>

      <br>

      <div>
        <%= f.text_field(:email, class: "text-field", placeholder: "Enter your email", required: true) %><br><br>
      </div>

      <div>
        <%= f.password_field(:password, class: "text-field", placeholder: "Enter your password", required: true) %><br><br>
      </div>

      <div class="fancy-button">
        <%= f.submit("Log in") %>
      </div>
    <% end %>
  </div>
</div>
