<%= form_for([klass,assignment]) do |f| %>

  <%= error_display(assignment) %>

  <div>
    <%= f.label(:name, "Name of assignment") %><br>
    <%= f.text_field(:name, class: "text-field") %><br><br>
  </div>

  <div>
    <%= f.label(:date, "Date of Assignment") %><br>
    <%= f.date_field(:date) %><br><Br>
  </div>

  <div>
    <%= f.collection_select :learning_target_id, klass.learning_targets, :id, :name, {include_blank: 'Select the Learning Target'}, {class: "select-css"} %><br><br>
  </div>

  <table>
    <% klass.students.each do |student| %>
      <tr>
        <%= f.fields_for(:grades, student.current_grade(@assignment), include_id: false) do |br| %>
          <div>
            <td><%= br.label(:score, student.full_name) %></td>
            <td><%= br.text_field(:score, class: "text-field-grade") %></td>
            <%= br.hidden_field(:student_id, :value => student.id) %>
          </div>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
  <div class="big-button">
    <%= f.submit %>
  </div>
<% end %>
