<h1>Edit assignment for <%= @klass.name %></h1>

<%= form_for([@klass,@assignment]) do |f| %>

  <div>
    <%= f.label(:name, "Name of assignment") %><br>
    <%= f.text_field(:name) %><br><br>
  </div>

  <div>
    <%= f.collection_select :learning_target_id, @klass.learning_targets, :id, :name, include_blank: 'Select the Learning Target' %><br><br>
  </div>

  <% @klass.students.each do |student| %>
    <% current_grade = Grade.find_by(student_id: student.id, assignment_id: @assignment.id) %>
    <%= f.fields_for(:grades, current_grade) do |br| %>
      <div>
        <%= br.label(:score, student.full_name) %>
        <%= br.text_field(:score) %><br><br>
        <%= br.hidden_field(:student_id, :value => student.id) %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit %><br><br>
<% end %>

<%= form_for([@klass, @assignment], method: :delete) do |f| %>
  <%= f.submit("Delete Assignment") %>
<% end %>
