<div class="student-list-container">
  <div class="paper-form">
    <h2>Student</h2>
    <%= form_for(student) do |f| %>
      <%= error_display(student) %>

      <%= f.text_field(:first_name, {maxlength: "20", class: "text-field", placeholder: "First Name"}) %><br><br>
      <%= f.text_field(:last_name, {maxlength: "20", class: "text-field", placeholder: "Last Name"}) %><br><br>
      <%= f.text_field(:grade, {maxlength: "4", class: "text-field", placeholder: "Grade"}) %><br><br>
      <%= f.text_field(:klass, {maxlength: "5", class: "text-field", placeholder: "Homeroom"}) %><br><br>

      <br>

      <div class="big-button">
        <%= f.submit() %>
      <% end %>

        <% if !student.new_record? %>
          <%= form_tag(student_path(student), method: "delete") do %>
            <%= submit_tag("Delete Student") %>
          <% end %>
        <% end %>
      </div>

  </div>

  <div class="students-in-school paper-form">
    <h3>Students in the school</h3>

    <%= form_tag(new_student_path(), method: "get") do %>
      <%= text_field_tag('query', nil, placeholder: "Filter by name or class") %>
      <%= submit_tag("Filter", class: "little-button") %>
      <%= submit_tag('clear', class: "little-button") %>
    <% end %><br>

    <div class="listed-students">
      <table>
        <tr>
          <th></th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Grade</th>
          <th>HR</th>
        </tr>
        <% students.each do |st| %>
          <tr>
            <td>
              <%= form_tag(edit_student_path(st), method: "get") do %>
                <%= submit_tag("edit", class: "little-button") %>
              <% end %>
            </td>
            <td><%= st.last_name %></td>
            <td><%= st.first_name %></td>
            <td><%= st.grade %></td>
            <td><%= st.klass %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
