<div>
  <h1>Add Students to Class <%= @klass.name %></h1>
  <div class="student-list-container">
    <div class="students-in-school paper-form">
      <h3>Students in the school</h3>

      <%= form_tag(klass_students_path(@klass), method: "get") do %>
        <%= text_field_tag('query', nil, placeholder: "Filter by name or class") %>
        <%= submit_tag("Filter", class: "little-button") %>
        <%= submit_tag('clear', class: "little-button") %>
      <% end %><br>

      <div class="listed-students">
        <table>
          <tr>
            <th></th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Grade</th>
            <th>Class</th>
          </tr>
          <% @students.each do |student| %>
            <tr>
              <td>
                <%= form_for([@klass, student]) do |f| %>
                  <%= f.submit("Add", class: "little-button") %>
                <% end %>
              </td>
              <td><%= student.last_name %></td>
              <td><%= student.first_name %></td>
              <td><%= student.grade %></td>
              <td><%= student.klass %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>


    <div class="students-in-class paper-form">
      <h3>Students in this class</h3>
      <div class="listed-students">
        <table>
          <tr>
            <th></th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Grade</th>
            <th>Class</th>
          </tr>
          <% @mystudents.each do |student| %>
            <tr>
              <td>
                <%= form_for([@klass, student]) do |f| %>
                  <%= f.submit("Remove", class: "little-button") %>
                <% end %>
              </td>
              <td><%= student.last_name %></td>
              <td><%= student.first_name %></td>
              <td><%= student.grade %></td>
              <td><%= student.klass %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
