<div class="student-show-container">
  <div class="student-show-studentbox">
    <h1>
      <%= @student.first_last_name %> from class <%= @klass.name %>
    </h1>
  </div>

  <div class="student-show averages">
    <div class="rubric-title"><strong>Student Stats</strong></div>
    <div>Overall Grade </div>
    <div><strong>blah</strong></div>
    <div>Top LT </div>
    <div><strong>blah</strong></div>
    <div>Bottom LT </div>
    <div><strong>blah</strong></div>
    <div>What else? </div>
    <div><strong>blah</strong></div>
  </div>

<% @klass.learning_targets.each do |lt| %>
  <div>
    <table class="gradebook">
      <tr>
        <th colspan="<%= lt.assignments.length %>" class="<%= @klass.my_color_class(lt) %> start-of-lt">
          <%= lt.standard.standard_notation_clean if lt.standard %><br>
          <%= link_to(lt.name, klass_learning_target_path(@klass, lt)) %>
        </th>
      </tr>

      <tr>
        <%= content_tag(:td) if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="assignments <%= "start-of-lt" if index == 0 %>">
            <div class="assignment-header">
              <div><%= link_to(assignment.name, edit_klass_assignment_path(@klass, assignment)) %></div>
              <div class="date"><%= assignment.date_display %></div>
            </div>
          </td>
        <% end %>
      </tr>

      <tr>
        <%= content_tag(:td, nil, class: "start-of-lt") if lt.assignments.empty? %>
        <% lt.students_chronological_grades(@student).each_with_index do |grade, index| %>
          <td class="score <%= "start-of-lt" if index == 0 %>"><%= grade.score if grade %></td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="student-show-lt-graph">
    <%= line_chart(lt.graph_data(@klass, @student), width: "400px", xtitle: "Date",
                   ytitle: "Avg Score", messages: {empty: "No data"},
                   colors: [@klass.my_color_class(lt), @klass.my_color_class(lt)], min: 0, max: 4,
                   library: { scales: { yAxes: [{ gridLines: { display: true },ticks: { maxTicksLimit: 5 } }]}}) %>
  </div>
<% end %>

</div>
