<div class="lt-form-container">

  <div class="standard-selection">
    <%= form_for([klass,lt]) do |f| %>
      <div>
        <h3>Select Grade</h3>
        <% math_standards = Standard.math_standards %>
        <%= f.collection_select :grade_id, math_standards, :grade_id, :grade %>
      </div>

      <div>
        <% if lt.grade_id %>
          <h3>Select Standard</h3>
          <% grade_standards = Standard.by_grade(lt.grade_id) %>
          <%= f.collection_select :api_standard_id, grade_standards, :api_standard_id, :standard_notation %>
        <% end %>
      </div>

      <div>
        <% if lt.api_standard_id %>
          <% my_standard = Standard.standard_lookup(lt.grade_id, lt.api_standard_id) %>
          <h3><%= my_standard.description %></h3>

          <%= f.label(:choose_standard, "Check to keep this standard") %>
          <%= f.check_box(:choose_standard) %>

          <%= f.hidden_field(:standard_notation, value: my_standard.standard_notation) %>
          <%= f.hidden_field(:description, value: my_standard.description) %>
          <%= f.hidden_field(:alt_standard_notation, value: my_standard.alt_standard_notation) %>
        <% end %>

        <%= f.submit("Submit") %>
      </div>

      <br><br>
    </div>


    <div class="lt-form-rubric">
      <div class="rubric-title">
        <h2><%= f.text_field(:name, size: "60", placeholder: "Enter a student-friendly name for this LT") %></h2>
      </div>

      <div class="rubric-score">
        <h2>4</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level4, placeholder: "Optional: What does level 4 understanding look like?") %></p>
      </div>

      <div class="rubric-score">
        <h2>3</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level3, placeholder: "Optional: What does level 3 understanding look like?") %></p>
      </div>

      <div class="rubric-score">
        <h2>2</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level2, placeholder: "Optional: What does level 2 understanding look like?") %></p>
      </div>

      <div class="rubric-score">
        <h2>1</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level1, placeholder: "Optional: What does level 1 understanding look like?") %></p>
      </div>
    </div>
    <%= f.submit("Create LT") %>
  <% end %>
</div>
