<div class="find-standard">
  <% organizations_array = Standard.new.call_the_API %>
  <% organizations_array.each do |org| %>
    <p><%= org["title"] %></p>
  <% end %>
</div>








<%= form_for([klass,lt]) do |f| %>

  <div class="lt-form-rubric">
    <div class="rubric-title">
      <h2><%= f.text_field(:name, size: "60", placeholder: "Enter the name of the Learning Target") %></h2>
    </div>


    <div class="rubric-score">
      <h2>4</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level4, size: "50x4", placeholder: "Optional: What does level 4 understanding look like?") %></p>
    </div>

    <div class="rubric-score">
      <h2>3</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level3, size: "50x4", placeholder: "Optional: What does level 3 understanding look like?") %></p>
    </div>

    <div class="rubric-score">
      <h2>2</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level2, size: "50x4", placeholder: "Optional: What does level 2 understanding look like?") %></p>
    </div>

    <div class="rubric-score">
      <h2>1</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level1, size: "50x4", placeholder: "Optional: What does level 1 understanding look like?") %></p>
    </div>

  <%= f.submit(submit_text) %>
<% end %>
