<div class="lt-form-container-full">
  <div class="lt-form-container">
    <div class="lt-form-standard">

      <% if !@lt.name %>
        <%= form_tag(new_klass_learning_target_path(@klass), method: "get") do %>
          <%= select_tag "query[grade]", options_from_collection_for_select(Standard.grades, :grade, :grade, @standard.try("id")), prompt: "Select a Grade" %>
          <br><br>
          <%= submit_tag("Filter") %>
          <%= submit_tag('clear') %><br>
        <% end %>
      <% else %>
        <%= form_tag(edit_klass_learning_target_path(@klass, @lt), method: "get") do %>
          <%= select_tag "query[grade]", options_from_collection_for_select(Standard.grades, :grade, :grade, @standard.try("id")), prompt: "Select a Grade" %>
          <br><br>
          <%= submit_tag("Filter") %>
          <%= submit_tag('clear') %><br>
        <% end %>
      <% end %>

      <%= form_for([klass,lt]) do |f| %>
        <%= f.fields_for(:standard, include_id: false) do |s| %>
          <div class="standards-table">
            <table>
              <tr>
                <th></th>
                <th>Standard</th>
                <th>Description</th>
              </tr>
              <% @standards.each do |st| %>
                <tr>
                  <td><%= s.radio_button(:id, st.id)%></td>
                  <td><%= s.label(:standard_notation, st.standard_notation_clean) %></td>
                  <td><%= st.description %></td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>



    <div class="lt-form-rubric">
      <div class="rubric-title <%= color %>">
        <h2><%= f.text_field(:name, size: "40", placeholder: "Enter a student-friendly name for this LT") %></h2>
      </div>

      <div class="rubric-score">
        <h2>4</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level4, placeholder: "Optional: What does level 4 understanding look like?") %></p>
      </div>

      <div class="rubric-score">
        <h2>3</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level3, placeholder: "Optional: What does level 3 understanding look like?") %></p>
      </div>

      <div class="rubric-score">
        <h2>2</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level2, placeholder: "Optional: What does level 2 understanding look like?") %></p>
      </div>

      <div class="rubric-score">
        <h2>1</h2>
      </div>

      <div class="rubric-score-desc">
        <p><%= f.text_area(:level1, placeholder: "Optional: What does level 1 understanding look like?") %></p>
      </div>
    </div>
  </div>

  <div class="lt-form-submit">
    <% if !lt.id %>
      <p>Add this learning target to another class: </p>
      <% current_user.klasses.each do |kl| %>
        <% if kl != klass %>
          <%= f.fields_for(:klasses, kl) do |k| %>
            <p>
              <%= f.check_box(:id) %>
              <%= f.label(kl.name) %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% if lt.klasses.length > 1 %>
        <p>This Learning Target is connect to these classes: <br><br>
          <% lt.klasses.each do |kl| %>
            <%= kl.name if kl != klass %>
          <% end %>
        </p>
      <% end %>
    <% end %>

    <div class="lt-form-submit">
      <div>
        <%= f.submit %>
        <% end %>
      </div>
      <% if lt.id %>
        <div>
          <%= form_for([klass, lt], method: :delete) do |d| %>
            <%= d.submit("delete") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
