<%= form_for([klass,lt]) do |f| %>

  <div>
    <%= f.label(:name, "Enter a learning target name") %><br>
    <%= f.text_field(:name) %><br><br>
  </div>

  <h3>Optional: Create a rubric</h3>


  <div class="lt-form-rubric">
    <div class="rubric-title">
      <h2><%= link_to(lt.name, edit_klass_learning_target_path(klass, lt)) %></h2>
    </div>


    <div class="rubric-score">
      <h2>4</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level4) %></p>
    </div>

    <div class="rubric-score">
      <h2>3</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level3) %></p>
    </div>

    <div class="rubric-score">
      <h2>2</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level2) %></p>
    </div>

    <div class="rubric-score">
      <h2>1</h2>
    </div>

    <div class="rubric-score-desc">
      <p><%= f.text_area(:level1) %></p>
    </div>

  <%= f.submit %>
<% end %>
