<h1>
  <%= @lt.name %> for class <%= link_to(@klass.name, klass_path(@klass)) %>
</h1>
<p>
  <%= link_to("Edit Learning Target", edit_klass_learning_target_path(@klass, @lt)) %>
</p>


<div class="lt-show-container">
  <div class="lt-stats">
    <div class="lt-graph">
      <%= line_chart(@lt.graph_data, width: "400px", xtitle: "Date",
                     ytitle: "Avg Score", messages: {empty: "No data"},
                     colors: ["black", "black"], min: 0, max: 4,
                     library: { scales: { yAxes: [{ gridLines: { display: true },ticks: { maxTicksLimit: 5 } }]}}) %>
    </div>

    <div class="averages">
      <div class="rubric-title <%= @klass.my_color_class(@lt) %>">Class LT Stats</div>
      <div>LT Average: </div>
      <div><strong><%= @lt.class_average %></strong></div>
      <div>Level 3s and up: </div>
      <div><strong><%= @lt.percent_of_students_on_level(@klass, 3.0)%></strong></div>
      <div>Level 2s: </div>
      <div><strong><%= @lt.percent_of_students_on_level(@klass, 2.0)%></strong></div>
      <div>Level 1s: </div>
      <div><strong><%= @lt.percent_of_students_on_level(@klass, 1.0)%></strong></div>
    </div>

    <div>
    </div>

  </div>


  <div class="lt-show-gradebook">
    <%= render partial: "klasses/table", locals: {klass: @klass, collection: [@lt], klass_or_lt: @lt} %>
  </div>

  <div class="lt-show-rubric">
    <%= render partial: "learning_targets/rubric", locals: {klass: @klass, lt: @lt} %>
  </div>

</div>
