<h1>Learning Targets</h1>
<div class="show-navigator">
  <%= form_for(@lt, url: lt_redirect_path(@klass), method: :get) do |f| %>
    <%= f.collection_select(:id, @klass.learning_targets, :id, :name, {}, {class: "select-css"}) %>
    <%= f.submit("Switch Learning Target", class: "little-button") %>
  <% end %>
</div>
<p>
  <%= link_to("back to class", klass_path(@klass)) %>
</p>


<div class="lt-show-container">
  <div class="lt-stats">
    <%= render partial: "learning_targets/stats", locals: {klass: @klass, lt: @lt} %>
  </div>


  <div class="lt-show-gradebook">
    <%= render partial: "klasses/table", locals: {klass: @klass, lt: @lt, collection: [@lt], klass_or_lt: @lt} %>
  </div>

  <div class="lt-show-rub-st-container">
    <div class="lt-show-rubric">
      <%= render partial: "learning_targets/rubric", locals: {klass: @klass, lt: @lt} %>
    </div>

    <% if @lt.standard %>
      <div class="lt-show-standard">
        <h3><%= @lt.standard.standard_notation_clean %></h3>
        <p><%= @lt.standard.description %></p>
      </div>
    <% end %>
  </div>
</div>
