<h1><%= @lt.name %> for class <%= link_to(@klass.name, klass_path(@klass)) %></h1>

<table class="gradebook">

  <tr>
    <th></th>
    <th><%= link_to("Learning Targets", klass_learning_targets_path(@klass)) %></th>
      <th colspan="<%= @lt.assignments.length %>"><%= @lt.name %></th>
  </tr>

  <tr>
    <td></td>
    <td><%= link_to("New Assignment", new_klass_assignment_path(@klass)) if !@klass.learning_targets.empty? %></td>

      <%= content_tag(:td) if @lt.assignments.empty? %>
      <% @lt.chronological_assignments.each do |assignment| %>
        <td>
          <div class="assignment-header">
            <div><%= link_to(assignment.name, edit_klass_assignment_path(@klass, assignment)) %></div>
            <div class="date"><%= assignment.date_display %></div>
          </div>
        </td>
      <% end %>
  </tr>

  <tr>
    <td><%= link_to("Students", klass_students_path(@klass)) %></td>
    <td><p><strong>LT Average</strong></p></td>

      <%= content_tag(:td) if @lt.assignments.empty? %>
      <% @lt.chronological_assignments.each do |assignment| %>
        <td><p><strong><%= assignment.average %></strong></p></td>
      <% end %>
  </tr>

  <% @klass.students.each do |student| %>
    <tr>
      <td><%= student.full_name %></td>
      <td class="average"><p><strong><%= student.average(@lt) %></strong></p></td>
        <%= content_tag(:td) if @lt.assignments.empty? %>
        <% @lt.chronological_assignments.each do |assignment| %>
          <% scorer = assignment.grades.find_by(student_id: student.id) %>
          <td class="score"><%= scorer.score if scorer %></td>
        <% end %>
    </tr>
  <% end %>
</table>
