<% if klass && !klass.new_record? %>
  <%= link_to(klass_path(klass)) do %>
    <div class="header-logo">
      <%= image_tag('open-book.jpg') %>
    </div>
  <% end %>

  <div>
    <%= new_resource_button(klass, new_klass_assignment_path(klass), "+A") %>
  </div>

  <div>
    <%= new_resource_button(klass, new_klass_learning_target_path(klass), "+LT") %>
  </div>

  <div>
    <%= new_resource_button(klass, klass_students_path(klass), "+S") %>
  </div>


  <% @klass ? (current_klass = @klass) : (current_klass = Klass.new)%>
  <div id="class-header">
    <%= form_for([:klass, current_klass], url: klass_redirect_path(), method: :get) do |f| %>
      <%= f.collection_select(:id, current_user.klasses_in_alphabetical_order, :id, :klass_name, {include_blank: "Classes"}, {class: "select-blend", onchange: "this.form.submit();"}) %>
    <% end %>
  </div>



  <div class="header-select">
    <% @lt ? (current_lt = @lt) : (current_lt = LearningTarget.new) %>
    <%= form_for([:learning_target, current_lt], url: lt_redirect_path(@klass), method: :get) do |f| %>
      <%= f.collection_select(:name, @klass.learning_targets, :name, :name, {include_blank: "All Learning Targets", prompt: "Learning Targets"}, {class: "select-blend", onchange: "this.form.submit();"}) %>
    <% end %>
  </div>

  <div class="header-select">
    <% @student ? (current_student = @student) : (current_student = Student.new) %>
    <%= form_for([:student, current_student], url: student_redirect_path(@klass), method: :get) do |f| %>
      <%= f.collection_select(:id, @klass.students, :id, :first_last_name, {prompt: "Students"}, {class: "select-blend", onchange: "this.form.submit();"}) %>
    <% end %>
  </div>

  <div class="header-logout">
    <%= link_to("Log Out", logout_path) %>
  </div>

<% else %>
  <%= link_to(klasses_path()) do %>
    <div class="header-logo">
      <%= image_tag('open-book.jpg') %>
    </div>
  <% end %>

  <div class="header-logout">
    <%= link_to("Log Out", logout_path) %>
  </div>
<% end %>
