<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div><%= link_to("Classes", klasses_path) %></div>
      <% if @klass %>
        <div>
          <%= form_for(:learning_target, url: lt_redirect_path(@klass), method: :get) do |f| %>
            <%= f.collection_select(:id, @klass.learning_targets, :id, :name, {include_blank: "Learning Targets"}, {class: "select-blend"}) %>
            <%= f.submit("Switch Learning Target", class: "little-button") %>
          <% end %>
        </div>
        <div><%= link_to("Assignments", new_klass_assignment_path(@klass)) %></div>
        <div><%= link_to("Students", klass_students_path(@klass)) %></div>
      <% end %>
    </header>

    <main>
      <% flash.keys.each do |type| %>
        <div onclick="style.display='none';" data-alert class="flash <%= type %> alert-box radius">
          <a href="#" class="close">&times;</a>
          <span><%= flash[type] %></span>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
