<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if @klass && !@klass.new_record? %>
        <div>
          <strong><%= link_to("Class #{@klass.name}", klass_path(@klass)) %></strong>
        </div>

        <div>
          <%= form_tag(new_klass_assignment_path(@klass), method: :get) do %>
            <%= submit_tag("+A", class: "fancy-button") %>
          <% end %>
        </div>

        <div>
          <%= form_tag(new_klass_learning_target_path(@klass), method: :get) do %>
            <%= submit_tag("+LT", class: "fancy-button") %>
          <% end %>
        </div>

        <div>
          <% @lt ? (current_lt = @lt) : (current_lt = LearningTarget.new) %>
          <%= form_for([:learning_target, current_lt], url: lt_redirect_path(@klass), method: :get) do |f| %>
            <%= f.collection_select(:name, @klass.learning_targets, :name, :name, {include_blank: "All Learning Targets", prompt: "Learning Targets"}, {class: "select-blend", onchange: "this.form.submit();"}) %>
          <% end %>
        </div>

        <div>
          <% @student ? (current_student = @student) : (current_student = Student.new) %>
          <%= form_for([:student, current_student], url: student_redirect_path(@klass), method: :get) do |f| %>
            <%= f.collection_select(:id, @klass.students, :id, :first_last_name, {include_blank: "Add/Drop Students", prompt: "Students"}, {class: "select-blend", onchange: "this.form.submit();"}) %>
          <% end %>
        </div>
      <% end %>
    </header>

    <main>
      <% flash.keys.each do |type| %>
        <div onclick="style.display='none';" data-alert class="flash <%= type %> alert-box radius">
          <a href="#" class="close">&times;</a>
          <span><%= flash[type] %></span>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <footer>
    </footer>
  </body>
</html>
