<div class="paper-form">
  <h1><%= header %></h1>
  <%= form_for(klass) do |f| %>
    <%= error_display(klass) %>
    <div>
      <%= f.label(:name, "Class Name") %><br>
      <%= f.text_field(:name, {maxlength: "35", class: "text-field"}) %><br><br>
    </div>

    <div>
      <%= f.label(:subject, "Subject") %><br>
      <%= f.text_field(:subject, {maxlength: "20", class: "text-field"}) %><br><br>
    </div>

    <div>
      <%= f.label(:grade, "Enter the grade (as a string for now)") %><br>
      <%= f.text_field(:grade, {maxlength: "20", class: "text-field"}) %><br><br>
    </div>

    <div>
      <%= f.label(:period, "Enter the class period (as an integer for now)") %><br>
      <%= f.text_field(:period, {maxlength: "2", class: "text-field"}) %><br><br>
    </div>

    <div class="big-button">
      <%= f.submit(submit_text) %>
      <br><br>
    </div>

    <% if !klass.new_record? %>
      <%= form_for(klass, method: :delete) do |f| %>
        <div class="big-button">
          <%= f.submit("Delete Class") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
