<div class="gradebook-title">
  <h1 style="display: inline"><%= klass.name %>'s Gradebook</h1><br>
  <p style="display: inline">
    <strong>Subject: </strong><%= klass.subject %>
    <strong>Grade: </strong><%= klass.grade %>
    <strong>Period: </strong><%= klass.period %><br>
  <p>
    <%= image_tag('open-book.jpg', width: "150px") %>
</div>
