<div class="gradebook-title">
  <div id="gradebook-details">
    <h2 style="display: inline"><strong><%= klass.name %>'s Gradebook</strong></h2><br>
    <p style="display: inline">
      <strong>Subject: </strong><%= klass.subject %>
      <strong>Grade: </strong><%= klass.grade %>
      <strong>Period: </strong><%= klass.period %>
    <p>
  </div>

  <div id="book-logo">
    <%= image_tag('open-book2.png') %>
  </div>

</div>
