<div class="gradebook-wrapper">
  <table class="gradebook">
    <tr>
      <th></th>
      <th id="new-lt">
        <% if !lt %>
          <%= form_tag(new_klass_learning_target_path(klass), method: :get) do %>
            <%= submit_tag("+LT", class: "fancy-button") %>
          <% end %>
        <% end %>
      </th>
      <% collection.each do |target| %>
        <th colspan="<%= target.assignments.length %>" class="<%= klass.my_color_class(target) %> start-of-lt">
          <%= target.standard.standard_notation_clean if target.standard %><br>
          <%= link_to(target.name, klass_learning_target_path(klass, target)) %>
        </th>
      <% end %>
    </tr>

    <tr>
      <td class="hidden"></td>
      <% if !klass.learning_targets.empty? %>
        <td>
          <%= form_tag(new_klass_assignment_path(klass), method: :get) do %>
            <%= submit_tag("+Assignment", class: "fancy-button") %>
          <% end %>
        </td>
      <% else %>
        <%= link_to("Start by Creating a Learning Target", new_klass_learning_target_path(klass)) %>
      <% end %>

      <% collection.each do |lt| %>
        <%= content_tag(:td) if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="assignments <%= "start-of-lt" if index == 0 %>">
            <div class="assignment-header">
              <div><%= link_to(assignment.name, edit_klass_assignment_path(klass, assignment)) %></div>
              <div class="date"><%= assignment.date_display %></div>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>
        <div class="student-column">
          <% if !@lt %>
            <%= form_tag(klass_students_path(klass), method: :get) do %>
              <%= submit_tag("+Students", class: "fancy-button") %>
            <% end %>
          <% end %>
        </div>
      </td>
      <td><div><strong>Average</strong></div></td>

      <% collection.each do |lt| %>
        <%= content_tag(:td, nil, class: "start-of-lt") if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="<%= "start-of-lt" if index == 0 %>"><div><strong><%= assignment.average(klass) %></strong></div></td>
        <% end %>
      <% end %>
    </tr>

    <%= render partial: "klasses/table_student_rows", locals: {klass: klass, collection: collection, klass_or_lt: klass_or_lt} %>

  </table>
</div>
