<%= content_tag(:tr) do %>
  <%= td_strong_label("Students") %>
  <%= td_strong_label("Average") %>

  <% collection.each do |lt| %>
    <%= content_tag(:td, nil, class: "start-of-lt") if lt.assignments.empty? %>
    <% lt.chronological_assignments.each_with_index do |assignment, index| %>
      <td class="<%= "start-of-lt" if index == 0 %>"><div><strong><%= assignment.average(klass) %></strong></div></td>
    <% end %>
  <% end %>
<% end %>
