<div class="gradebook-wrapper">
  <table class="gradebook">
    <tr>
      <th></th>
      <th id="new-lt"><%= link_to("New Learning Target", new_klass_learning_target_path(klass)) if !@lt %></th>
      <% collection.each do |lt| %>
        <th colspan="<%= lt.assignments.length %>" class="<%= klass.my_color_class(lt) %> start-of-lt">
          <%= link_to(lt.name, klass_learning_target_path(klass, lt)) %>
        </th>
      <% end %>
    </tr>

    <tr>
      <td class="hidden"></td>
      <td><%= link_to("New Assignment", new_klass_assignment_path(klass)) if !klass.learning_targets.empty? %></td>

      <% collection.each do |lt| %>
        <%= content_tag(:td) if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="assignments <%= "start-of-lt" if index == 0 %>">
            <div class="assignment-header">
              <div><%= link_to(assignment.name, edit_klass_assignment_path(klass, assignment)) %></div>
              <div class="date"><%= assignment.date_display %></div>
            </div>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>
        <div class="student-column">
          <%= link_to("Students", klass_students_path(klass)) if !@lt %>
        </div>
      </td>
      <td><div><strong>Average</strong></div></td>

      <% collection.each do |lt| %>
        <%= content_tag(:td, nil, class: "start-of-lt") if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="<%= "start-of-lt" if index == 0 %>"><div><strong><%= assignment.average %></strong></div></td>
        <% end %>
      <% end %>
    </tr>

    <% klass.students.each do |student| %>
      <tr>
        <td>
          <div class="student-column"><%= student.full_name %></div>
        </td>
        <td class="average"><p><strong><%= student.average(klass_or_lt) %></strong></p></td>
        <% collection.each do |lt| %>
          <%= content_tag(:td, nil, class: "start-of-lt") if lt.assignments.empty? %>
          <% lt.chronological_assignments.each_with_index do |assignment, index| %>
            <% scorer = assignment.grades.find_by(student_id: student.id) %>
            <td class="score <%= "start-of-lt" if index == 0 %>"><%= scorer.score if scorer %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
