<div class="gradebook-wrapper">
  <table class="gradebook">
    <tr>
      <th></th>
      <th></th>
      <% collection.each do |target| %>
        <th colspan="<%= target.assignments.length %>" class="<%= klass.my_color_class(target) %> start-of-lt">
          <div class="lt-target-label-container">
            <div class="lt-target-label">
              <%= target.standard.standard_notation_clean if target.standard %><br>
              <%= link_to(target.name, klass_learning_target_path(klass, target)) %><br>
            </div>
            <div class="assignment-label">
              Assignments
            </div>
          </div>
        </th>
      <% end %>
    </tr>

    <tr>
      <td>
      </td>
      <% if !klass.learning_targets.empty? %>
        <td></td>
      <% else %>
        <%= link_to("Start by Creating a Learning Target", new_klass_learning_target_path(klass)) %>
      <% end %>

      <% collection.each do |lt| %>
        <%= content_tag(:td) if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="assignments <%= "start-of-lt" if index == 0 %>">
            <%= link_to(edit_klass_assignment_path(klass, assignment)) do %>
              <div class="assignment-header">
                <div><%= assignment.name %></div>
                <div class="date"><%= assignment.date_display %></div>
              </div>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>

      </td>
      <td id="average"><div><strong>Average</strong></div></td>

      <% collection.each do |lt| %>
        <%= content_tag(:td, nil, class: "start-of-lt") if lt.assignments.empty? %>
        <% lt.chronological_assignments.each_with_index do |assignment, index| %>
          <td class="<%= "start-of-lt" if index == 0 %>"><div><strong><%= assignment.average(klass) %></strong></div></td>
        <% end %>
      <% end %>
    </tr>

    <%= render partial: "klasses/table_student_rows", locals: {klass: klass, collection: collection, klass_or_lt: klass_or_lt} %>

  </table>
</div>
