<h1>Add Students to Class <%= @klass.name %></h1>

<div class="student-list-container">
  <div>
    <h3>Students in the school</h3>
    <table>
      <tr>
        <th></th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Grade</th>
        <th>Class</th>
      </tr>
      <% @students.each do |student| %>
        <tr>
          <td>+</td>
          <td><%= student.last_name %></td>
          <td><%= student.first_name %></td>
          <td><%= student.grade %></td>
          <td><%= student.klass %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div>
    <h3>Students in this class</h3>
    <table>
      <tr>
        <th></th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Grade</th>
        <th>Class</th>
      </tr>
      <% @klass.students.each do |student| %>
        <tr>
          <td>+</td>
          <td><%= student.last_name %></td>
          <td><%= student.first_name %></td>
          <td><%= student.grade %></td>
          <td><%= student.klass %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
