<div class="open-book">
  <div class="open-book-title">
    <h1><%= current_user.name %>'s classes</h1>
  </div>
  <div class="open-book-table">
    <table>
      <tr>
        <th>Period</th>
        <th>Class</th>
      </tr>
      <% @klasses.each do |klass| %>
        <tr>
          <td><%= klass.period %></td>
          <td><%= link_to(klass.name, klass_path(klass)) %></td>
          <td>
            <%= link_to("edit", edit_klass_path(klass)) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="open-book-links">
    <p><%= link_to("Add a New Class", new_klass_path) %></p>
  </div>
</div>
