<div class="klass-schedule">
  <div class="klass-schedule-title">
    <h1><%= current_user.name %>'s classes</h1>
  </div>
  <table>
    <tr>
      <th>Period</th>
      <th>Class</th>
    </tr>
    <% @klasses.each do |klass| %>
      <tr>
        <td><%= klass.period %></td>
        <td><%= klass.name %></td>
        <td>
          <%= link_to("View", klass_path(klass)) %>
          <%= link_to("Edit", edit_klass_path(klass)) %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="klass-schedule-links">
    <p><%= link_to("Add a New Class", new_klass_path) %></p>
    <p><%= link_to("Log Out", logout_path) %></p>
  </div>
</div>
