<h1 style="display: inline"><%= @klass.name %>'s Gradebook</h1><br>
<p style="display: inline">
  <strong>Subject: </strong><%= @klass.subject %>
  <strong>Grade: </strong><%= @klass.grade %>
  <strong>Period: </strong><%= @klass.period %><br>
<h6 style="display: inline"><%= link_to("Back", klasses_path) %></h6>
<p>

<table class="gradebook">
  <tr>
    <th>Student</th>
    <% @klass.assignments.each do |assignment| %>
      <th><%= assignment.name %></th>
    <% end %>
  </tr>

  <% @klass.students.each do |student| %>
    <tr>
      <td><%= student.full_name %></td>
      <% @klass.assignments.each do |assignment| %>
        <% if assignment.students.include?(student) %>
          <% assignment.grades.each do |grade| %>
            <% if grade.student == student %>
              <td><%= grade.score %></td>
            <% end %>
          <% end %>
        <% else %>
          <td></td>
        <% end %>


      <% end %>
    </tr>
  <% end %>

  <tr>
    <td><%= link_to("Add Students", klass_students_path(@klass)) %></td>
  </tr>

</table>
