<h1 style="display: inline"><%= @klass.name %>'s Gradebook</h1><br>
<p style="display: inline">
  <strong>Subject: </strong><%= @klass.subject %>
  <strong>Grade: </strong><%= @klass.grade %>
  <strong>Period: </strong><%= @klass.period %><br>
<h6 style="display: inline"><%= link_to("Back to My Classes", klasses_path) %></h6>
<p>

<p>
  <%= link_to("Add Students", klass_students_path(@klass)) %>
</p>
