<h1 style="display: inline"><%= @klass.name %>'s Gradebook</h1><br>
<p style="display: inline">
  <strong>Subject: </strong><%= @klass.subject %>
  <strong>Grade: </strong><%= @klass.grade %>
  <strong>Period: </strong><%= @klass.period %><br>
<h6 style="display: inline"><%= link_to("Back", klasses_path) %></h6>
<p>

<table class="gradebook">

  <tr>
    <th></th>
    <% @klass.learning_targets.each do |lt| %>
      <th colspan="<%= lt.assignments.length %>"><%= lt.name %></th>
    <% end %>
    <th><%= link_to("Add Learning Target", new_klass_learning_target_path(@klass)) %></th>
  </tr>

  <tr>
    <td>Student</td>
    <% @klass.learning_targets.each do |lt| %>
      <%= content_tag(:td) if lt.assignments.empty? %>
      <% lt.chronological_assignments.each do |assignment| %>
        <td>
          <div class="assignment-header">
            <div><%= link_to(assignment.name, edit_klass_assignment_path(@klass, assignment)) %></div>
            <div class="date"><%= assignment.date_display %></div>
          </div>
        </td>
      <% end %>
    <% end %>
    <td><%= link_to("Add Assignment", new_klass_assignment_path(@klass)) %></td>
  </tr>

  <% @klass.students.each do |student| %>
    <tr>
      <td><%= student.full_name %></td>
      <% @klass.learning_targets.each do |lt| %>
        <%= content_tag(:td) if lt.assignments.empty? %>
        <% lt.chronological_assignments.each do |assignment| %>
          <% scorer = assignment.grades.find_by(student_id: student.id) %>
          <td><%= scorer.score if scorer %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td><%= link_to("Add Students", klass_students_path(@klass)) %></td>
  </tr>

</table>
