<h1 style="display: inline"><%= @klass.name %>'s Gradebook</h1><br>
<p style="display: inline">
  <strong>Subject: </strong><%= @klass.subject %>
  <strong>Grade: </strong><%= @klass.grade %>
  <strong>Period: </strong><%= @klass.period %><br>
<h6 style="display: inline"><%= link_to("Back", klasses_path) %></h6>
<p>

<table class="gradebook">
  <tr>
    <th>Student</th>
    <% @klass.assignments.each do |assignment| %>
      <th><%= assignment.name %></th>
    <% end %>
    <td><%= link_to("Add Assignment", '/') %></td>
  </tr>

  <% @klass.students.each do |student| %>
    <tr>
      <td><%= student.full_name %></td>
      <% @klass.assignments.each do |assignment| %>
        <% scorer = assignment.grades.find_by(student_id: student.id) %>
        <td><%= scorer.score if scorer %></td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td><%= link_to("Add Students", klass_students_path(@klass)) %></td>
  </tr>

</table>
