<h1>Class Show Page</h1>

<p>
  <strong>Name: </strong><%= @klass.name %><br>
  <strong>Subject: </strong><%= @klass.subject %><br>
  <strong>Grade: </strong><%= @klass.grade %><br>
  <strong>Period: </strong><%= @klass.period %><br>
  <%= link_to("Edit Class", edit_klass_path) %>
<p>
